mixin navLink(link, name)
  li.navBar__item-li
    a(href=link).nav__item-link=name

mixin portfolio(link, name)
  li.navBar__item-li
    a(href=link)=name
      i.fa.fa-angle-down
    ul.submenu
      li
        span
          i.fas.fa-angle-right
          a(href=link) #{name} 1 column page
      li
        span
          i.fas.fa-angle-right
          a(href=link) #{name} 2 column page
      li
        span
          i.fas.fa-angle-right
          a(href=link) #{name} 3 column page

mixin card(icon, header, descr)
  .card-wrap
    .card-item
      span.card__icon
        i(class=icon)
      h3.card__header
        =header
      p.card__descr
        =descr
    button.card__btn read more

mixin whyImg(url)
  .why-wrap
    .why-header
      .why-dots
        .dots
        .dots
        .dots
      .why-dash
        .dash
    .why-img
      img(src=url, alt="your image" class="why-img__item")

mixin list(text)
  i.fas.fa-arrow-right
  p=text

mixin percent(num, str)
  .percent
    svg
      circle(cx="70" r="70")
    .number
      h2=num
    h3=str